body {
    font-family: 'Roboto Slab', serif;
    background-image: url('./images/skyblue.jpg');
    background-size: cover;
  }

#contact {
    display:block;
}

h3{
    text-align: center;
    color: black;
    font-size:18px;
    font-weight: 800;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 27, 27);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #04AA6D;
  }

.form-input{
    font-family: 'Roboto Slab', serif;
}

.contact-me {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
    background-color: #a6a6a6;
}

.form-group {
    margin-bottom: 1rem;
}

.form-input {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border: 1px solid #313131;
}

select.form-control[size], select.form-control[multiple] {
    height: auto;
}

textarea.form-control {
    font-family: 'Roboto Slab', serif;
    height: auto;
}

label.form-group-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button:hover {
    color: #212529;
    text-decoration: none;
}

.button:focus, .button.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.button:focus, .button.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.button {
    display: block;
    width: 100%;
}

.button+.button {
    margin-top: 0.5rem;
} 

input[type="submit"].button, input[type="reset"].button, input[type="button"].button {
    width: 100%;
}

#footer{
    text-align: center;
    background-color: #495057;
    color: white;
    font-weight: 800;
    max-width: 100%;
}

